# Terraform-related files and directories
.terraform/
*.tfvars
terraform.tfstate.d/
*.terraform.lock.hcl
terraform/builds/

# IDE and Editor files
.idea/
.DS_Store

# Python Virtual Environment
venv/

# Lambda output
*/.output/
*/*/.output/

# Scripts (if these shouldn't be committed)
run-terraform.sh
delete-terraform.sh

# Miscellaneous
TODO.txt
