# Terraform-related files and directories
.terraform/
*.tfvars
terraform.tfstate.d/
*.terraform.lock.hcl
terraform/builds/

# IDE and Editor files
.idea/
.DS_Store

# Python Virtual Environment
venv/

# Lambda output
*/.output/
*/*/.output/


# Miscellaneous
TODO.txt
.venv/
cdk.out/
__pycache__/
cdk.out-*
